<h1>
    <img src="https://images.freeimages.com/images/large-previews/09e/moon-art-1641879.png" 
    width="40" height="40">
    {{title}}
</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
